@model Microsoft.WindowsAzure.Storage.Table.TableResult


@{ ViewData["Title"] = "Bookdata"; }
<style>
    body {
        font-family: 'lato', sans-serif;
    }

    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 20px;
    }

    tr {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

    td {
        padding: 20px;
    }
</style>
<h1> Summary of Booked Slot</h1>
@if (ViewBag.Message != null)
{

<p>@ViewBag.Message</p> }

            else
            {
            <table border="1">
                <tr>

                    <th style="width:15%">Service Name</th>
                    <th style="width:15%">Company name</th>
                    <th style="width:15%">username</th>
                    <th style="width:15%">Schedule</th>
                    <th style="width:15%">Price</th>
                    <th style="width:15%">isBooked</th>
                    <th style="width:15%">Customerusername</th>
                    <th style="width:15%">isConfirmed</th>


                </tr>

                <tr>
                    @{ var displayresult = Model.Result as ddacassignment.Models.ServicesEntity;}

                    <td style="width:15%">@displayresult.PartitionKey</td>
                    <td style="width:15%">@displayresult.RowKey</td>
                    <td style="width:15%">@displayresult.Schedule</td>
                    <td style="width:15%">@displayresult.Price</td>
                    <td style="width:15%">@displayresult.isBooked</td>
                    <td style="width:15%">@displayresult.customerUsername</td>
                    <td style="width:15%">@displayresult.isConfirmed</td>



                </tr>



</table>}

