
@{
    ViewData["Title"] = "ViewService";
}
<style>
    body {
        font-family: 'lato', sans-serif;
    }

    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 20px;
    }

    tr {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

    td {
        padding: 20px;
    }
</style>

<h1>View Service</h1>



@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table  border="1">
        <tr>
            
            <th style="width:15%">Service Name</th>
            <th style="width:15%">Service Company</th>
            <th style="width:15%">Service Schedule</th>
            <th style="width:15%">Service Price</th>
            <th style="width:15%"> Action </th>

        </tr>
        @foreach (var service in Model)
        {
            <tr>
                <td style="width:15%">@service.PartitionKey</td>
                <td style="width:15%">@service.RowKey</td>
                <td style="width:15%">@service.Schedule</td>
                <td style="width:15%">@service.Price</td>

                <td style="width:15%">
                    <a asp-route-pkey="@service.PartitionKey" asp-route-rkey="@service.RowKey" asp-action="bookdata" asp-controller="Table">
                        <button>Book Slot?</button>
                    </a>
                </td>

                

            </tr>
        }
    </table>
}

