
@{
    ViewData["Title"] = "ViewService";
}

<h1>View Service</h1>



@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table width=80% border="5">
        <tr>
            <th>Service Name</th>
            <th>Service Company</th>
            <th>Service Schedule</th>
            <th>Service Price</th>
            <th> Action </th>

        </tr>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.PartitionKey</td>
                <td>@service.RowKey</td>
                <td>@service.Schedule</td>
                <td>@service.Price</td>

                <td><a> asp-route-pkey ="@Model.PartitionKey" asp-route-rkey="@Model.RowKey" asp-action="" asp-controller="Table">
                    <button>Book</button></a></td>

                

            </tr>
        }
    </table>
}

